<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@next"></script>
    <title>calc</title>
</head>

<body>
    <div class="app" id="calc">
        <div class="header">
            <input type="text" v-model="result">
        </div>
        <div class="main">
            <div class="main_items numbers">
                <button v-for="num in numbers" @click="input(num)"> {{num}} </button>
            </div>
            <div class="main_items operators">
                <button v-for="op in operators" class="operator" @click="input(op)"> {{op}} </button>
                <button class="result" @click="calculate">=</button>
                <button class="result" @click="reset">C</button>
            </div>
        </div>
    </div>
</body>

<script src="js/script.js"></script>
</html>